{{!-- {{this}} --}}
<li class="book_card">
 
  <div class="book-image-div">
    <img class="book-image" src={{this.book-image}} alt={{this.title}}>
  </div>

  <div class="book_information">
    <p class="book-title">{{this.title}}</p>
    <p class="book-category">{{this.list_name}}</p>
    <p class="book-description">{{this.description}}</p>
    <p class="book-author">{{this.author}}</p>
  </div>
  
  <div class="closer">
    <button class="closer-btn">#</button>
  </div>

    <div class="market_places_div">
          <ul class="market_placers_list list">

            <li class="marketplacer_li">
              <a href="#" class="marketplacer_li_link link">
                <svg class="marketplacer-icon-svg">
                  <use href="..//images/svg/sprite.svg#amazon-icon"></use>
                </svg>
              </a>
            </li>

            <li class="marketplacer_li">
              <a href="#" class="marketplacer_li_link link">
                <svg class="marketplacer-icon-svg">
                  <use href="../images/svg/sprite.svg#ibook-icon"></use>
                </svg>
              </a>
            </li>

            <li class="marketplacer_li">
              <a href="#" class="marketplacer_li_link link">
                <svg class="marketplacer-icon-svg">
                  <use href="./images/svg/sprite.svg#ibook-icon"></use>   // поставити нормальну іконку
                </svg>
              </a>
            </li>

  </div>
</li>
{{!-- {{this}} --}}
