{{!-- {{this}} --}}
<li class="book_card">
 
  <div class="book-image-div">
    <img class="book-image" src={{this.book_image}} alt={{this.title}}>
  </div>

  <div class="book_information">
    <p class="book-title">{{this.title}}</p>
    <p class="book-category">{{this.list_name}}</p>
    <p class="book-description">{{this.description}}</p>
    <p class="book-author">{{this.author}}</p>
  </div>

  <div class="closer">
    <a href="../images/png/world_vision_icon.png">
    <button class="closer-btn">#</button>
    </a>
    
  </div>

    <div class="market_places_div">
          <ul class="market_placers_list list">

            <li class="marketplacer_li">
              <a href="#" class="marketplacer_li_link link">
                <img src="./images/png/amazon.png" alt="amazon">
                <!--<svg class="marketplacer-icon-svg">
                  <use href="..//images/svg/sprite.svg#amazon-icon"></use>
                </svg>-->
              </a>
            </li>

            <li class="marketplacer_li">
              <a href="#" class="marketplacer_li_link link">
                <img src="..//images/png/apple-books.png" alt="apple-books">
                <!--<svg class="marketplacer-icon-svg">
                  <use href="../images/svg/sprite.svg#ibook-icon"></use>
                </svg>-->
              </a>
            </li>

            <li class="marketplacer_li">
              <a href="#" class="marketplacer_li_link link">
                <img src="../images/png/barnes-and-noble.png" alt="barnes-and-noble">
                <!--<svg class="marketplacer-icon-svg">
                  <use href="./images/svg/sprite.svg#ibook-icon"></use>   // РїРѕСЃС‚Р°РІРёС‚Рё РЅРѕСЂРјР°Р»СЊРЅСѓ С–РєРѕРЅРєСѓ
                </svg>-->
              </a>
            </li>
    
  </div>

  
</li>
{{!-- {{this}} --}}